:root {
  --chat-main-color: var(--theme-dark-gray);
  --chat-secondary-color: var(--theme-background-color);
  --hover-scale: 1.1;
  --chat-content-container-border-radius: 0.4rem;
  --chat-content-container-padding: 0rem;
  --chat-message-gap: 0.4rem;
}

.show-chat-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--chat-main-color);
  float: right;
  transition: transform 0.1s ease-in-out;
}

.show-chat-button:hover {
  transform: scale(var(--hover-scale));
  -webkit-transform: scale(var(--hover-scale));
  -ms-transform: scale(var(--hover-scale));
}

.show-chat-button-icon {
  color: var(--theme-white);
  font-size: 1.6rem;
}

/* for the entire chatbox */
.chat-container {
  position: fixed;
  bottom: 2vh;
  right: 10vw;
  float: right;
  z-index: 3;
  color-scheme: dark;
}

/* includes the chat header and the chat main. Everything about the chat window besides the button. */
.chat-content-container {
  border-color: var(--chat-main-color);
  border-width: 0.4rem;
  border-radius: var(--chat-content-container-border-radius);
  background-color: var(--chat-main-color);
  width: 20vw;
  color: var(--theme-white);
  margin-bottom: 0.4rem;
  padding: 0.1rem;
}

.chat-header {
  background-color: var(--theme-background-color);
  border-radius: calc(
    var(--chat-content-container-border-radius) -
      var(--chat-content-container-padding)
  );
  padding: 0.2rem;
}

/* the chat input and also the chat history, excludes the header */
.chat-main {
  margin: 0.8rem;
}

/* wraps the chat history, input, presets, etc without the input */
/* TODO: prevent further scrolling when the bottom is reached */
.chat-history-contents {
  margin-bottom: 0.8rem;
  overflow-y: scroll;
  height: 32vh;
}

/* wraps the chat history itself, all the messages only */
.chat-history-messages {
  display: grid;
  gap: var(--chat-message-gap);
}

.interactable-element-border {
  border-color: var(--chat-secondary-color);
  border-width: 0.2rem;
  border-radius: 0.2rem;
}

button.interactable-element-border:hover {
  transition: border-color 0.1s ease-in-out;
  border-color: var(--theme-white);
}

.chat-message {
  text-align: left;
  max-width: 85%;
  padding: 0.4rem;
  border-radius: 0.8rem;
  position: relative;
}

.model-message {
  left: 0;
  border-color: var(--theme-white);
}

.user-message {
  margin-left: auto;
  right: 0;
  background-color: var(--theme-white);
  color: var(--chat-main-color);
}

/* llm response rendering */
.chat-message-response {
  display: grid;
  gap: 0.75em; /* This single property now controls all vertical spacing! */
}

.chat-message-response ul {
  list-style-type: disc;
  padding-left: 20px;
}

.chat-message-response li {
  margin-bottom: 0.25em;
}

.chat-message-response img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.chat-history-presets {
  margin-top: var(--chat-message-gap);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  bottom: 0;
  position: relative;
}

.chat-history-presets button {
  background-color: var(--chat-secondary-color);
  color: var(--theme-white);
  border-width: 0.2rem;
  border-radius: 0.2rem;
  transition:
    background-color ease-in-out 0.1s,
    color ease-in-out 0.1s;
}

.chat-history-presets button:hover {
  background-color: var(--theme-white);
  color: var(--chat-secondary-color);
}

/* the chat input */
.chat-main #chat {
  width: 100%;
  padding: 0.4rem;
  transition:
    border-color 0.1s ease-in-out,
    border-width 0.1s ease-in-out,
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  resize: none;
}

.chat-main #chat:focus {
  outline: none;
  border-color: var(--theme-white);
}

.chat-input-enabled {
  background-color: var(--chat-main-color);
}

.chat-input-disabled {
  background-color: var(--chat-secondary-color);
  color: var(--chat-main-color);
}

.chat-main button {
  padding: 0.4rem;
}

/* <--------------- mobile most of general rules ----------------> */
@media screen and (max-width: 1023px) {
  .chat-content-container {
    width: 85vw;
  }

  .show-chat-button {
    float: right;
  }
}
