.typing-cursor {
  /* inline-block w-[1px] translate-y-1 */
  display: inline-block;
  transform: translateY(0.2rem);
}

.welcome-cursor {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
}

.text-cursor {
  width: 0.4rem;
  height: 3rem;
  background-color: var(--theme-background-color);
}
