.content-block-title {
    padding-top: 10px;
    width: 50%;
    border-bottom: 0.25rem solid;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
    outline: none;
    font-size: 3.5rem;
    color: #36393f;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}