/* <--------------- Header -------------------> */

.header {
    font-size: 3rem;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen Mono', monospace;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    transition: height 0.5s ease;
    position: relative;
    overflow: hidden;


    /* Make text unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #36393f;
}

.welcome {
    z-index: 1;
}

.video {
    opacity: 0.3;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
    transition: height 0.5s ease;
}