:root {
    --navigation-group-left-right-padding: 20%;
    --navigation-link-top-bottom-margin: 1rem;
}

.navigation-group-container {
    /* transform: rotateX(-10deg) rotateY(9deg);
    perspective: 1000px;
    perspective-origin: 50% 50%; */
}

.navigation-group {
    padding-left: var(--navigation-group-left-right-padding);
    padding-right: var(--navigation-group-left-right-padding);
}

.chevron-icon {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
    margin-right: 1rem;
}

.chevron-right {
    transform: rotate(90deg);
}

.chevron-left {
    transform: rotate(-90deg);
}

.navigation-link {
    text-align: left;
    font-size: 3rem;
    margin-bottom: var(--navigation-link-top-bottom-margin);
    margin-top: var(--navigation-link-top-bottom-margin);
}

.navigation-link-underline {
    position: relative;
    cursor: pointer;
}

/* Underline colored text on hover. Code adapted from https://paulund.co.uk/css-animation-link-underline */
.navigation-link-underline:before {

    content: "";
    position: absolute;
    width: 0;
    height: 0.25rem;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navigation-link-underline:hover:before {
    visibility: visible;
    width: 100%;
}