:root {
    --project-card-side-size: 30rem;
}

/* .project-card-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;

} */

.project-card-group {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, var(--project-card-side-size));
    justify-items: center;
    gap: 3rem;
    margin: 1rem;
    width: 100%;
    position: relative;
    justify-items: center;
    align-items: center;
    /* this actually makes the grid centered in the container */
    justify-content: center;
}

.project-card {
    width: var(--project-card-side-size);
    height: var(--project-card-side-size);
    border-radius: 0.5rem;
    background-color: antiquewhite;
    transition: transform 0.2s ease-in-out;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 0.5fr 3.5fr;
    align-items: center;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card-image-container {
    /* https: //stackoverflow.com/questions/67421778/next-js-image-layout-fill-is-broken */
    position: relative;
    margin: auto;
}