.markdown-container {
  text-align: left;
}

.paragraph {
  margin-bottom: 1rem;
}

.paragraph-text {
  margin-bottom: 1rem;
}

.paragraph-image-container {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.paragraph-image-container img {
  display: block;
  margin: auto;
  max-width: 70vw;
  max-height: 50vh;
}

.link {
  text-decoration: underline;
}

ul > .paragraph-bullet {
  list-style-type: disc;
  margin-left: 3.2rem;
  margin-bottom: 0.25rem;
}

ol > .paragraph-bullet {
  list-style-type: decimal;
  margin-left: 3.2rem;
  margin-bottom: 0.25rem;
}

/* <--------------- mobile most of general rules ----------------> */
@media screen and (max-width: 1023px) {
  :root {
    --contribution-margin-left-right: 0%;
  }

  .paragraph-image-container {
    max-width: 100%;
  }
}
