/* <--------------- Nav bar ------------------> */

.logo-nav {
  width: 40px;
  z-index: 10;
  vertical-align: middle;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  top: 0;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-dark-gray);
  width: 100%;
  font-family: "Oxygen Mono", monospace;
  padding-left: var(--left-right-margin);
  padding-right: var(--left-right-margin);
}

.right {
  display: flex;
}

/* Navbar links */
.nav-link {
  align-items: center;
  font-size: 30px;
  display: flex;
  color: #36393f;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

/* The navbar icons */
.icon {
  transition: color 0.3s;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.icon:active {
  color: none;
}

.nav-link:hover .icon {
  cursor: pointer;
  color: #36393f;
}

.icon:active {
  color: none;
}

.name {
  color: var(--theme-white);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
}

.nav-link:hover .name {
  color: #36393f;
}

.nav-link span {
  display: inline-block;
  vertical-align: middle;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

/* <--------------- HAMBURGER AND ANIMATION ----------------> */
/* Credit to: https://codepen.io/RRoberts/pen/ZBYaJr hamburger-1 */

.hamburger .line {
  width: 40px;
  height: 4px;
  background-color: var(--theme-white);
  display: none;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  align-self: center;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-responsive .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-responsive .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

#hamburger.is-responsive .line:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  -ms-transform: translateY(-12px) rotate(-45deg);
  -o-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

/* <--------------- mobile, device specific ----------------> */

/* Fixing navbar orientation for smaller devices */

@media screen and (max-height: 340px) {
  /* For iPhone 5 landscape */

  /* Scrolling offset small mobile landscape */
  .project-group-title {
    scroll-margin-top: 8rem;
    scroll-snap-margin-top: 8rem;
  }
}

@media screen and (max-height: 375px) and (min-height: 341px) {
  /* Scrolling offset most mobile landscape, from iPhone 6 to iPhone X */
  .project-group-title {
    scroll-margin-top: 9rem;
    scroll-snap-margin-top: 9rem;
  }
}

@media screen and (max-height: 569px) and (min-height: 376px) {
  /* For small, short mobile devices like iPhone 5 in portrait mode, iPhone 6 in landscape*/

  /* shorter orientations get an ugly version of the navbar */
  .navbar.is-responsive .nav-link {
    display: flex;
    width: auto;
  }

  /* Scrolling offset small mobile specific */
  .project-group-title {
    scroll-margin-top: 11rem;
    scroll-snap-margin-top: 11rem;
  }

  .logo {
    width: 3.5rem;
  }
}

@media screen and (max-width: 1024px) and (min-height: 570px) {
  /* This is large mobile device portrait mode */

  /* Tall enough orientations to accomodate for a "row by row" nav bar */
  .is-responsive .nav-link {
    display: flex;
    width: 100%;
  }

  /* Scrolling offset large mobile specific */
  .project-group-title {
    scroll-margin-top: 23rem;
    scroll-snap-margin-top: 23rem;
  }
}

@media screen and (max-width: 1024px) and (min-height: 570px) {
  /* This is large mobile device landscape mode and also iPhone X portrait */

  /* Tall enough orientations to accomodate for a "row by row" nav bar */
  .is-responsive .nav-link {
    display: flex;
    width: 100%;
  }

  .project-group-title {
    scroll-margin-top: 34rem;
    scroll-snap-margin-top: 34rem;
  }

  .nav-link,
  .navbar .name {
    font-size: 1.35rem;
  }

  .icon {
    font-size: 3rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 1025px) {
  /* Fix hamburger menu size for iPad and iPad pro */
  .hamburger .line {
    width: 50px;
    height: 5px;
  }

  #hamburger.is-responsive .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  #hamburger.is-responsive .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
}

/* <--------------- mobile most of hamburger/general rules ----------------> */

@media screen and (max-width: 1023px) {
  /* When the screen is at maximum 1024px px in size, hide all the navbar links */

  .navbar {
    flex-wrap: wrap;
  }

  .hamburger {
    padding: 10px;
    /* padding-bottom: 14px; */
  }

  .logo-nav {
    width: 50px;
  }

  .hamburger .line {
    display: block;
  }

  .nav-link {
    transition: height 0.5s;
  }

  .inactive .nav-link:not(:first-child) {
    display: none;
  }

  /* Once the hamburger menu is clicked, is-responsive is added to the navbar and all the links are shown */

  .right.is-responsive {
    flex-direction: column;
  }

  .navbar {
    flex-direction: space-between;
  }

  .project-group-title {
    width: 70%;
    font-size: 2.8rem;
  }

  .project-content img {
    max-width: 90%;
  }

  .icon {
    margin-right: 0;
    margin-left: 0;
  }

  .project-content h4 {
    font-size: 1.1em;
  }

  .project-content h3 {
    font-size: 1.9em;
  }

  .text {
    font-size: 0.9rem;
  }

  ul {
    font-size: 0.9em;
  }

  /* the responsive link menu that shows all other links */
  .responsive-link-menu {
    background-color: var(--theme-dark-gray);
    height: 100vh;
  }
}
