.contact-icon {
  font-size: 6rem;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.1) rotate(2deg);
}

.contact-icon-block {
  display: grid;
  row-gap: 1rem;
}

.horizontal {
  width: 30vw;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

/* <--------------- mobile most of general rules ----------------> */

@media screen and (max-width: 1023px) {
  /* override horizontal rules */
  .horizontal {
    width: initial;
    margin: initial;
    grid-template-columns: initial;
  }
}
