.contact-button {
  width: 20rem;
  background-color: var(--theme-background-color);
  border-radius: 12px;
  margin: auto;
  display: grid;
  /* vertically center the text, and have it be a row */
  align-items: center;
  justify-content: center;
  /* adjust the row gap to be a bit more spaced out */
  grid-template-columns: 3fr 1fr;
  padding: 0.5rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  column-gap: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--theme-white);
}

.contact-button:hover {
  transform: scale(1.1) rotate(2deg);
}

.contact-button-icon {
  font-size: 4rem;
  transition: transform 0.3s ease-in-out;
}

.contact-button:hover .contact-button-icon {
  transform: translateX(0.5rem);
}

/* <--------------- mobile most of general rules ----------------> */

@media screen and (max-width: 1023px) {
  .contact-button {
    width: 16rem;
    font-size: 1.4rem;
  }
  .contact-button-icon {
    font-size: 2rem;
  }
}
