.filter-option-button {
  cursor: pointer;
  border: 0.2rem solid var(--theme-dark-gray);
  /* curved corners */
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  min-width: 20%;
}

.filter-option-button:hover {
  background-color: var(--theme-white-hover);
}

.filter-option-button.active {
  background-color: var(--theme-background-color);
}

.filter-option-content-container {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  gap: 0.2rem;
}

.filter-option-button .label {
  display: inline-block;
  transition: color 0.2s ease-in-out;
  color: var(--theme-dark-gray);
}

.filter-option-button .icon {
  color: var(--theme-dark-gray);
  transition: color 0.2s ease-in-out;
}

.filter-option-button.active .label {
  color: var(--theme-white);
}

.filter-option-button.active .icon {
  color: var(--theme-white);
}

/* <--------------- mobile most of general rules ----------------> */
@media screen and (max-width: 1023px) {
}
