.map-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  margin-right: 4rem;
  min-width: 70%;
  margin-bottom: 1.2rem;
  gap: 1.6rem;
}

.map-filter-row {
  flex: 1;
  width: 100%;
  border: 0.2rem solid var(--theme-dark-gray);
  border-radius: 0.9rem; /* outer radius = inner radius + padding */
  padding: 0.4rem;
}

.map-filter-row-selection-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.map-results-container {
  margin-bottom: 1.2rem;
}

/* on small screens, switch to a vertical layout */
@media screen and (max-width: 768px) {
  .map-filter-container {
    flex-direction: column;
    margin: auto;
  }
  .map-filter-row-selection-container {
    flex-direction: column;
  }
}
